
@{
    ViewBag.Title = "Giới thiệu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="tranggioithieu col-xs-12 col-sm-12 col-md-12 col-lg-12">

    <!--Banner-->
    <div class="banner hidden-xs col-sm-12 col-md-12 col-lg-12">
        <img src="~/Content/Front/images/gioithieu/banner.png" alt="" />
        <p>
            <span>
                Welcome you to <br />
                Aristino Hải Phòng
            </span><br />
            Chào mừng quý khách đã đến với Thời trang nam - Aristino Hải Phòng <br />
            Kính chúc quý khách tìm được sản phẩm ưng ý với mình !
        </p>
    </div>

    <!--Các tiêu chí-->

    <article class="cactieuchi col-xs-12 col-sm-12 col-md-12 col-lg-12">

        <!--Lịch lãm - Sang trọng-->
        <div class="tieuchi col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <p class="pull-right">
                <span>Lịch lãm - Sang trọng</span><br />
                ****** <br />
                Sản phẩm của chúng tôi luôn luôn hướng tới sự lịch lãm và sang trọng và quý phái cho các quý ông.
            </p>
            <img src="~/Content/Front/images/gioithieu/gt-1.png" alt="" class="pull-left" />
        </div>

        <!--Quý phái - Tinh tế-->
        <div class="tieuchi col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <p class="pull-left">
                <span>Quý phái - Tinh tế</span><br />
                ****** <br />
                Hãy trở thành những quý ông sang trọng, đẳng cấp khi khoác lên mình những bộ suits tinh tế của Aristino.
            </p>
            <img src="~/Content/Front/images/gioithieu/gt-2.png" alt="" class="pull-right" />
        </div>

        <!--Thời trang công sở-->
        <div class="tieuchi col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <p class="pull-right">
                <span>
                    Thời trang công sở <br />
                    Tại sao không ?
                </span><br />
                ****** <br />
                Bạn lựa chọn điều gì cho một ngày làm việc tại cơ quan của mình. Với thiết kế nổi bật, chất liệu thượng hạng cùng với cặp đôi sơ mi và quần Âu lịch lãm chắc chắn sẽ làm bạn nổi bật và thu hút mọi ánh nhìn.
            </p>
            <img src="~/Content/Front/images/gioithieu/gt-5.png" alt="" class="pull-left" />
        </div>
    </article>
</section>