.trangloaisanpham {
    margin: 0;
    padding: 0;
}

    /*Sản phẩm nổi bật & Sản phẩm mới*/
    .trangloaisanpham > article {
        padding: 0;
        margin: 0 0 5em 0;
    }

        /*Tiêu đề*/
        .trangloaisanpham > article > .tieude {
            text-align: left;
        }

            .trangloaisanpham > article > .tieude > p {
                z-index: 2;
                display: inline-block;
                margin: 0;
                background: rgb(255,255,255);
                text-transform: uppercase;
                font-size: 1.8em;
                padding: 0 0.5em;
            }

        /*Các sản phẩm*/
        .trangloaisanpham > article > .cacsanpham {
            margin: 2em 0;
        }

            /*Từng sản phẩm*/
            .trangloaisanpham > article > .cacsanpham > .sanpham {
                padding: 0 0 3em 0;
                text-align: center;
            }

                .trangloaisanpham > article > .cacsanpham > .sanpham > img {
                    margin: 0 auto;
                    display: block;
                    width:100%;
                }

                .trangloaisanpham > article > .cacsanpham > .sanpham > .sale {
                    position: absolute;
                    top: 0em;
                    left: 0.5em;
                }

                .trangloaisanpham > article > .cacsanpham > .sanpham > p {
                    text-align: center;
                    font-weight: bold;
                    color: rgb(33,150,243);
                    margin: 0 0 1.5em 0;
                }

                    /*Giá tiền*/
                    .trangloaisanpham > article > .cacsanpham > .sanpham > p > span {
                        color: rgb(244,67,54);
                        margin: 0 0.7em;
                    }

                /*Nút xem thêm*/
                .trangloaisanpham > article > .cacsanpham > .sanpham > div {
                    width: 100%;
                }

                    .trangloaisanpham > article > .cacsanpham > .sanpham > div > a {
                        text-decoration: none;
                        text-transform: uppercase;
                        color: rgb(150,150,150);
                        border: solid 1px rgb(150,150,150);
                        padding: 0.5em 1em;
                        transition: all .2s ease-in-out;
                    }

                        .trangloaisanpham > article > .cacsanpham > .sanpham > div > a:hover {
                            color: rgb(41,41,41);
                            border: solid 1px rgb(41,41,41);
                        }

        /*số trang*/
        .trangloaisanpham > article > nav {
            text-align: center;
        }

            .trangloaisanpham > article > nav > ul > li.active > a {
                background: rgb(41,41,41) !important;
            }

            .trangloaisanpham > article > nav > ul > li > a {
                text-align: center;
                font-size: 1.1em;
                color: rgb(41,41,41);
                border: none;
                margin: 0 0.3em;
                border-radius: 2em;
            }

/*Giao diện cho tablet (dọc)*/
@media (min-width: 768px) and (max-width: 991px) {
    .trangloaisanpham {
        margin: 6em 0 2em 0;
    }

        /*Từng sản phẩm*/
        .trangloaisanpham > article > .cacsanpham > .sanpham {
            padding: 0 0 3em 0;
        }
}

/*Giao diện cho điện thoại*/
@media (max-width: 767px) {
    .trangloaisanpham {
        margin: 6em 0 2em 0;
    }

        .trangloaisanpham > article > .tieude {
            text-align: left;
            padding: 0;
        }

        /*Từng sản phẩm*/
        .trangloaisanpham > article > .cacsanpham > .sanpham {
            padding: 0 0 3em 0;
        }
}
